@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input:focus-visible {
  outline: none;
}

html {
  height: -webkit-fill-available;
  min-height: 100dvh;
}

body {
  height: 100dvh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#root {
  height: 100dvh;
  min-height: 100dvh;
  min-height: -webkit-fill-available;
}

.pulse {
  box-shadow: 0 0 0 0 rgba(255,255,255, 0.7);
  animation: pulse 2s infinite;
}

.pulse:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
